* {
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  background: url("../img/510603-minimalism-landscape-mountains-lake-clear-sky.jpg");
  background-position: center;
  background-size: cover;
  overflow-y: scroll;
}

.nav-bar {
  position: sticky;
  background: #fff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;
}

.left-nav,
.right-nav {
  display: flex;
  align-items: center;
}

.left-nav a {
  text-decoration: none;
  font-size: 40px;
}

.left-nav h1 {
  font: bold 30px "Lucida Console";
}

.username {
  margin-right: 20px;
  font: bold 18px "Lucida Console";
}

.avatar {
  width: 50px;
}

.feed {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-main {
  width: 40%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.post {
  padding: 10px;
  border: solid 1px #ddd;
}

.post-header {
  display: flex;
  align-items: center;
}

#post-avatar {
  margin-right: 15px;
}

.post-body {
  margin-top: 15px;
}

.post-footer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.reply,
.like {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.reply-img,
.like-img {
  width: 30px;
  margin-right: 5px;
}
