* {
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  background: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  overflow-y: scroll;
}

.nav-bar {
  position: sticky;
  background: #fff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;
}

.left-nav,
.right-nav {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.left-nav a {
  text-decoration: none;
  font-size: 40px;
}

.left-nav h1 {
  font: bold 30px "Lucida Console";
}

.username {
  margin-right: 20px;
  font: bold 18px "Lucida Console";
}

.imageUploadText {
  margin-right: 20px;
  font: 13px "Lucida Console";
}

.imageUploadText input {
    padding: 5px 15px;
    background: #c5c5c5;
    border-radius: 10px;
    color: #fff;
    font: bold 14px Arial;
}

input::file-selector-button {
  padding: 5px 15px;
  background: #000000;
  border-radius: 10px;
  color: #fff;
  font: bold 14px Arial;
}


.avatar {
  width: 50px;
  margin-right: 15px;
}

.logout input {
  padding: 5px 15px;
  background: #000;
  border-radius: 10px;
  color: #fff;
  font: bold 14px Arial;
}



.feed {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-main {
  width: 40%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.post-list {
  width: 40%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.post {
  padding: 10px;
  border: solid 1px #ddd;
}

.post-header {
  display: flex;
  align-items: center;
}

#post-avatar {
  margin-right: 15px;
}

.post-body {
  margin-top: 15px;
}

.post-footer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.reply,
.like {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.reply-img,
.like-img {
  width: 30px;
  margin-right: 5px;
}

.like-btn {
  border-radius: 5px;
  padding: 4px;
  background: rgb(209, 209, 209);
  transition: background-color 0.3s ease;
}
.like-btn:hover {
  background: rgb(164, 164, 164);
}


.create-post {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.create-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.create-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 10px 0px;
}

.post-p {
  overflow: hidden; 
  word-wrap: break-word; 
  white-space: normal; 
}

.create-text {
  width: 100%;
  height: 98%;
  border-radius: 10px;
  background: #eee;
  padding: 10px;
  resize: none;
}

.create-footer {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.post-button {
  padding: 7px 20px;
  border-radius: 10px;
  background: #73a0c9;
  color: #fff;
  font: bold 16px "Arial";
  transition: background-color 0.3s ease;
}
.post-button:hover {
  background: rgb(70, 108, 144);
}

.add-media-button {
  background: #fff;
  border: none;
}

.add-media-button img {
  width: 35px;
  margin-right: 10px;
}
