body {
  background-color: #5f79a2;
  color: #e3e2e2;
  background-image: url("../img/background_clouds.png");
  background-size: cover;
}

.windowtest {
  width: 50%;
  max-width: 400px;
  /* 	margin:10px; */
  position: absolute;
}

.controlsWindow {
  width: auto;
  max-width: 800px;
  position: absolute;
}

.postwindow {
  width: auto;
  height: auto;
  max-width: 300px;
  position: absolute;
  word-wrap: break-word;
}

.statsWindow {
  max-width: 300px;
  position: absolute;
}

.enemyWindow {
  width: auto;
  height: auto;
  max-width: 400px;
  width: 210px;
  position: absolute;
  word-wrap: break-word;
}


.bossWindow {
  width: auto;
  height: auto;
  max-width: 400px;
  width: 310px;
  position: absolute;
  word-wrap: break-word;
}

.bossWindowSmaller {
  width: auto;
  height: auto;
  max-width: 400px;
  width: 250px;
  position: absolute;
  word-wrap: break-word;
}


.upgrades {
	max-width:500px;
	position: absolute;
}

.animationContainer {
  width: auto;
  height: auto;
  max-width: 400px;
  position: absolute;
  word-wrap: break-word;
}

.lootWindow {
  width: auto;
  height: auto;
  max-width: 200px;
  width: 210px;
  position: absolute;
  word-wrap: break-word;
}

.spamWindow {
  width: 20%;
  max-width: 500px;
  /* 	margin:10px; */
  position: absolute;
}

.imagewindow {
  width: auto;
  height: 300px;
  max-width: 500px;
  /* 	margin:10px; */
  position: absolute;
  background-image: url("https://i.imgur.com/TaUfF5E.png");
}

.center {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-bar {
  cursor: move;
}

#window1 {
  top: 60px;
  left: 600px;
}

#window2 {
  top: 285px;
  left: 20px;
}

#window3 {
  top: 20px;
  left: 20px;
}

#window4 {
  top: 10px;
  right: 10px;
}

#window5 {
  top: 255px;
  right: 100px;
}

#window6 {
  bottom: 100px;
  right: 30px;
}

#controlsWindow {
  top: 15px;
  left: 15px;
}
#window11 {
  top: 15px;
  left: 365px;
}

#user-div {
  top: 5px;
  left: 650px;
}

#text_area_post::placeholder {
  padding: 3px;
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  /*   color: white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@keyframes scroll {
  0% {
    transform: translateX(-110%);
  } /* Start from left */
  100% {
    transform: translateX(400%);
  } /* Scroll to left */
}

/* Apply the animation to the window-body */
.scroll {
  display: flex; /* Use flexbox to align the duplicated content */
  overflow: hidden; /* Hide the overflowing content */
  white-space: nowrap; /* Prevent the content from wrapping */
  animation: scroll 20s linear infinite; /* Apply the animation */
}

@-webkit-keyframes fancy-shake {
  0% {
    -webkit-transform: translateY(0) rotate(0) scale(1);
            transform: translateY(0) rotate(0) scale(1);
  }
  25% {
    -webkit-transform: translateY(-3px) rotate(-2deg) scale(1.1);
            transform: translateY(-3px) rotate(-2deg) scale(1.1);
  }
  50% {
    -webkit-transform: translateY(3px) rotate(2deg) scale(0.9);
            transform: translateY(3px) rotate(2deg) scale(0.9);
  }
  75% {
    -webkit-transform: translateY(-2px) rotate(-1deg) scale(1.05);
            transform: translateY(-2px) rotate(-1deg) scale(1.05);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0) scale(1);
            transform: translateY(0) rotate(0) scale(1);
  }
}

@keyframes fancy-shake {
  0% {
    -webkit-transform: translateY(0) rotate(0) scale(1);
            transform: translateY(0) rotate(0) scale(1);
  }
  25% {
    -webkit-transform: translateY(-3px) rotate(-2deg) scale(1.1);
            transform: translateY(-3px) rotate(-2deg) scale(1.1);
  }
  50% {
    -webkit-transform: translateY(3px) rotate(2deg) scale(0.9);
            transform: translateY(3px) rotate(2deg) scale(0.9);
  }
  75% {
    -webkit-transform: translateY(-2px) rotate(-1deg) scale(1.05);
            transform: translateY(-2px) rotate(-1deg) scale(1.05);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0) scale(1);
            transform: translateY(0) rotate(0) scale(1);
  }
}



/* Define the delete animation */
@keyframes deletePostAnimation {
  0% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
  10% {
    transform: translateX(-2px) rotate(-1deg);
    opacity: 0.9;
  }
  20% {
    transform: translateX(2px) rotate(1deg);
    opacity: 0.8;
  }
  30% {
    transform: translateX(-2px) rotate(-1deg);
    opacity: 0.7;
  }
  40% {
    transform: translateX(2px) rotate(1deg);
    opacity: 0.6;
  }
  50% {
    transform: translateX(-2px) rotate(-1deg);
    opacity: 0.5;
  }
  60% {
    transform: translateX(2px) rotate(1deg);
    opacity: 0.4;
  }
  70% {
    transform: translateX(-2px) rotate(-1deg);
    opacity: 0.3;
  }
  80% {
    transform: translateX(2px) rotate(1deg);
    opacity: 0.2;
  }
  90% {
    transform: translateX(-2px) rotate(-1deg);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 0;
  }
}

@keyframes deletePostAnimationFast {
  0% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
  25% {
    transform: translateX(-2px) rotate(-1deg);
    opacity: 0.66;
  }
  50% {
    transform: translateX(2px) rotate(1deg);
    opacity: 0.33;
  }
  750% {
    transform: translateX(-2px) rotate(-1deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 0;
  }
}

/* Apply the animation to the post element */
.delete-animation {
  animation: deletePostAnimation 1s ease forwards;
}

.delete-animation-fast {
  animation: deletePostAnimationFast .4s ease forwards;
}

.windowShake {
  animation: fancy-shake 0.5s;
  display: inline-block;
}

.buttonClick {
  animation: fancy-shake 0.5s;
}

@keyframes subtle-shake {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-1px) rotate(-1deg);
  }
  50% {
    transform: translateY(1px) rotate(1deg);
  }
  75% {
    transform: translateY(-1px) rotate(-1deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.subtle-shake {
  animation: subtle-shake 0.5s infinite;
  display: inline-block;
}

.like-anim {
  animation: subtle-shake 0.5s;
  display: inline-block;
}

@keyframes paused-shake {
  0% {
    transform: translateY(0) rotate(0);
  }
  2% {
    transform: translateY(-1px) rotate(-1deg);
  }
  4% {
    transform: translateY(1px) rotate(1deg);
  }
  6% {
    transform: translateY(-1px) rotate(-1deg);
  }
  8% {
    transform: translateY(0) rotate(0);
  } /* Pause */
  100% {
    transform: translateY(0) rotate(0);
  }
}

.paused-shake {
  animation: paused-shake 5s infinite;
  display: inline-block;
}

.profileImage {
  width: 100px;
  border: 3px solid #081933;
}

.postImage {
  width: 100px;
  border: 3px solid #161618;
}

a {
  color: rgb(22, 22, 206);
}

a:active {
  color: rgb(95, 16, 206);
}

.create-text {
  resize: none;
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

.gilbert-anim-alive {
  -webkit-animation: gilbert-anim-alive 1.4s 1s infinite both;
  animation: gilbert-anim-alive 1.4s 1s infinite both;
}

.enemy-anim {
  -webkit-animation: gilbert-anim-alive 1.6s 2s infinite both;
  animation: gilbert-anim-alive 1.6s 2s infinite both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.gilbert {
  width: auto;
  height: auto;
  width: 300px;
  max-width: 500px;
  position: absolute;
  word-wrap: break-word;
}

.centerGilbert {
  margin: auto;
  width: 100%;
  /*   border: 3px solid green; */
  /*   padding: 10px; */
  text-align: center;
}

.gilbertImage {
  width: 210px;
  border: 3px solid #290c2a; /* Black border */
  background-color: #fff; /* White background */
  box-shadow: inset 0 0 10px #000; /* Inner shadow */
}

@-webkit-keyframes gilbert-anim-alive {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes gilbert-anim-alive {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

 @-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}


@keyframes moveBackAndForth {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}

@keyframes dodgeWait {
  0% {
    transform: translateX(-50px);
  }
	20% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
	70% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}

@keyframes squareMove {
  0% { transform: translate(-200px, 0); }
  25% { transform: translate(200px, 0); }
  50% { transform: translate(200px, 100px); }
  75% { transform: translate(-200px, 100px); }
  100% { transform: translate(-200px, 0); }
}
@keyframes sideToSide {
  0% { transform: translate(-300px, 0); }
  50% { transform: translate(300px, 0); }
  100% { transform: translate(-300px, 0); }
}

.button-square-fast {
animation: squareMove 5.5s ease-in-out infinite;
}

.button-side-fast {
animation: sideToSide 5.5s ease-in-out infinite;
}

.button-fast {
  animation: moveBackAndForth 1s ease-in-out infinite; 
}

.button-slow {
  animation: moveBackAndForth 4s ease-in-out infinite; 
}

.button-medium {
  animation: moveBackAndForth 2s ease-in-out infinite; 
}

.button-dodge {
  animation: moveBackAndForth 2s ease infinite
}

.button-dodge-wait {
  animation: dodgeWait 2s ease infinite
}

.button-dodge-slow {
  animation: dodgeWait 3s ease infinite
}

.button-dodge-wait-fast {
  animation: dodgeWait 1s ease infinite
}

.button-dodge-fast {
  animation: moveBackAndForth 1s ease infinite
}

.button-fade-slow {
  animation: fadeOut 2.5s ease-in-out infinite;
}

.button-fade-fast {
  animation: fadeOut 1.5s ease-in-out infinite;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
	transform: translateX(-50px);
  }
	  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
	transform: translateX(50px);
  }
	  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
	transform: translateX(-50px);
  }
}

.text-shadow {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-3 11:35:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  10% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
	  20% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.rotate-vert-center {
  animation: fancy-shake 0.5s;
}

li[role="tab"] {
    cursor: pointer;
}



/* ----------------------------------------------
 * Generated by Animista on 2024-5-3 12:14:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-3 12:15:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}


@keyframes floatAnimation {
  0% {
    transform: rotate(-2deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.float {
	animation: floatAnimation 3.5s ease-in-out infinite;
	animation-delay: -0.4375s;
}

.float-slow {
	animation: floatAnimation 7s ease-in-out infinite;
	animation-delay: -0.875s;
}

.gilbert-damage {
	animation: damage .28s ease-in-out;
}

@keyframes damage {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-2px) rotate(-2deg) ;
  }
  50% {
    transform: translateY(1.3px) rotate(1.3deg);
  }
  75% {
    transform: translateY(-1px) rotate(-1deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}