<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
	<link rel="stylesheet" href="https://unpkg.com/98.css" />
	<title>Yappers</title>
</head>

<body onload="welcome();">

	<body>
		<div class="center">

			<div class="window windowtest windowShake" id="window1">
				<div class="title-bar" id="window1">
					<div class="title-bar-text">
						🔊 Welcome Message
					</div>

					<div class="title-bar-controls">
						<button aria-label="Minimize"></button>
						<button aria-label="Maximize"></button>
						<button aria-label="Close"></button>
					</div>
				</div>
				<div class="window-body">
					<p>Welcome to Yappers 🔊🔊🔊</p>
					<fieldset>
						<legend>Yap?</legend>
						<div class="field-row">
							<input id="radio13" type="radio" name="fieldset-example2">
							<label for="radio13">Yep</label>
						</div>
						<div class="field-row">
							<input id="radio14" type="radio" name="fieldset-example2">
							<label for="radio14">100%</label>
						</div>
						<div class="field-row">
							<input id="radio15" type="radio" name="fieldset-example2">
							<label for="radio15">Absolutely</label>
						</div>
						<div class="field-row">
							<input id="radio16" type="radio" name="fieldset-example2">
							<label for="radio16">Yap</label>
						</div>
					</fieldset>
					<p id="js-test">❤️</p>
					<section class="field-row" style="justify-content: flex-end">
						<button onclick="playJoinSound()" >Submit</button>
					</section>
				</div>
			</div>
		</div>

		<div class="center">
			<div class="login window windowtest windowShake" id="window2">

				<div class="title-bar" id="window2">
					<div class="title-bar-text">
						🔐 Login
					</div>

					<div class="title-bar-controls">
						<button aria-label="Minimize"></button>
						<button aria-label="Maximize"></button>
						<button aria-label="Close"></button>
					</div>
				</div>
				<div class="window-body">
					<p class="paused-shake">Enter your username and password to log in: </p>
					<form action="/login" method="post" enctype="application/x-www-form-urlencoded">
						<div class="field-row-stacked" style="width: 200px">
							<label for="text18">Username:</label>
							<input id="login-form-username" type="text" name="username_login" />
						</div>

						<div class="field-row-stacked" style="width: 200px">
							<label for="text18">Password:</label>
							<input id="login-form-pass" type="password" name="password_login" />
						</div>
						<p>{{login_error}}</p>
						<section class="field-row" style="justify-content: flex-end">
							<input onclick="playJoinSound()" type="submit" value="Log In" />
						</section>

					</form>
				</div>

			</div>
		</div>
		<div class="center">
			<div class="register window windowtest windowShake" id="window3">
				<div class="title-bar" id="window3">
					<div class="title-bar-text">
						📜 Register
					</div>

					<div class="title-bar-controls">
						<button aria-label="Minimize"></button>
						<button aria-label="Maximize"></button>
						<button onclick="playJoinSound()" aria-label="Close"></button>
					</div>
				</div>
				<div class="window-body">
					<p class="paused-shake">Enter a username and password to register:</p>
					<form action="/register" method="post" enctype="application/x-www-form-urlencoded">

						<div class="field-row-stacked" style="width: 200px">
							<label for="text18">Username:</label>
							<input id="reg-form-username" type="text" name="username" />
						</div>

						<div class="field-row-stacked" style="width: 200px">
							<label for="text18">Password:</label>
							<input id="reg-form-pass" type="password" name="password" />
						</div>

						<div class="field-row-stacked" style="width: 200px">
							<label for="text18">Re-enter Password:</label>
							<input id="reg-form-pass2" type="password" name="password2" />
						</div>
						<p>{{register_error|safe}}</p>
						<section class="field-row" style="justify-content: flex-end">
							<input onclick="playJoinSound()" type="submit" value="Register" />
						</section>

					</form>
				</div>

			</div>
		</div>

		<div class="center">
			<div class="window spamWindow windowShake" id="window4">
				<div class="title-bar" id="window4">
					<div class="title-bar-text">
						🚨 IMPORTANT ALERT
					</div>

					<div class="title-bar-controls">
						<button aria-label="Minimize"></button>
						<button aria-label="Maximize"></button>
						<button aria-label="Close"></button>
					</div>
				</div>
				<div class="window-body">
					<p>SEND YOUR CREDIT CARD INFORMATION TO YAP@GMAIL.COM</p>
					<p>SEND YOUR CREDIT CARD INFORMATION TO YAP@GMAIL.COM</p>
					<p>SEND YOUR CREDIT CARD INFORMATION TO YAP@GMAIL.COM</p>
					<p>SEND YOUR CREDIT CARD INFORMATION TO YAP@GMAIL.COM</p>
					<p>SEND YOUR CREDIT CARD INFORMATION TO YAP@GMAIL.COM</p>
					<section class="field-row" style="justify-content: flex-end">
						<button onclick="playJoinSound()">OKAY</button>
						<button onclick="playJoinSound()">OKAY</button>
					</section>
				</div>

			</div>
		</div>
		
		
		
		<div class="center">
			<div class="window spamWindow windowShake" id="window5">
				<div class="title-bar" id="window5">
					<div class="title-bar-text">
						🚨 IMPORTANT ALERT
					</div>

					<div class="title-bar-controls">
						<button aria-label="Minimize"></button>
						<button aria-label="Maximize"></button>
						<button aria-label="Close"></button>
					</div>
				</div>
				<div class="window-body">
					<p class="fancy-shake">I am rapidly approaching your location.</p>
					<section class="field-row" style="justify-content: flex-end">
						<button onclick="playJoinSound()" class="subtle-shake">RUN</button>
					</section>
				</div>

			</div>
		</div>
		
		
	
		<div class="center">
			<div class="window spamWindow imagewindow windowShake" id="window6">
				<div class="title-bar" id="window6">
					<div class="title-bar-text">
						📬 Secure message from: microsoft_real@gmail.com
					</div>

					<div class="title-bar-controls">
						<button aria-label="Minimize"></button>
						<button aria-label="Maximize"></button>
						<button aria-label="Close"></button>
					</div>
				</div>
				<div class="window-body">
					<img src="https://i.imgur.com/TaUfF5E.png">
					<p class="paused-shake">HOLY COW!!</p>
					<section class="field-row" style="justify-content: flex-end">
					</section>
				</div>

			</div>
		</div>

		<!-- <div class="logout">




      <form
        action="/logout"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
      <input type="submit" value="Logout" />
      </form>
      </div> -->
		<div class="window taskbar">
			<div class="window-body scroll" id="windowbody">
				<p>🗣️🗣️🗣️🗣️🗣️ WELCOME YAPPERS!!!! 😁</p>
				<p>WELCOME YAPPERS!!!! 😁</p>
				<p>WELCOME YAPPERS!!!! 😁</p>
				<p>WELCOME YAPPERS!!!! 😁</p>
				<p>WELCOME YAPPERS!!!! 🗣️🗣️🗣️🗣️🗣️</p>
			</div>
		</div>
		<script type="text/javascript" src="/static/js/function.js"></script>
		<script src="/static/js/login.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha384-W7u1oZej89xBfSfr7dwwh5OO9S/OtSKj5Z6s+XunMPXSPATFOAenjgGiJhFjVYkz" crossorigin="anonymous"></script>
		</div>
		</div>
	</body>

</html>