<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
  <title>CSE312 Project</title>
  <style>
    
  </style>
</head>
<body>
  <div class="main">
    <h1>Project Yap</h1>
    <div class="content">
      <div class="login-form">
        <h2>Login</h2>
        <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
          <label for="username">Username:</label>
          <input id="username" type="text" name="username_login" required />
          <label for="password">Password:</label>
          <input id="password" type="password" name="password_login" required />
          <button type="submit">Login</button>
        </form>
        <p>{{login_error}}</p>
      </div>
      <div class="register-form">
        <h2>Register</h2>
        <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
          <label for="reg-username">Username:</label>
          <input id="reg-username" type="text" name="username" required />
          <label for="reg-password">Password:</label>
          <input id="reg-password" type="password" name="password" required />
          <label for="reg-password2">Re-enter Password:</label>
          <input id="reg-password2" type="password" name="password2" required />
          <button type="submit">Register</button>
        </form>
        <p>{{register_error|safe}}</p>
      </div>
    </div>
  </div>
</body>
</html>
