<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="post">
      <div class="post-header">
        <img
          id="post-avatar"
          class="avatar"
          src="/public/img/Profile-Avatar-PNG-Picture.png"
        />
        <h3 class="username">{{username}}</h3>
      </div>
      <div class="post-body">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium
          eligendi aspernatur, odio amet id, nisi ducimus, dolores et nemo autem
          explicabo ipsam? Quia quaerat alias non accusamus at neque delectus?
        </p>
      </div>
      <div class="post-footer">
        <div class="reply">
          <img class="reply-img" src="/public/img/reply.png" />
          <h5>{{number_of_comments}}</h5>
        </div>
        <div class="like">
          <img class="like-img" src="/public/img/heart.png" />
          <h5>{{number_of_likes}}</h5>
        </div>
      </div>
    </div>
  </body>
</html>
